<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>resteasy.guice.modules</param-name>
    <param-value>
               com.sudaotech.BusinessModule
        </param-value>
  </context-param>
  <context-param>
    <param-name>resteasy.providers</param-name>
    <param-value>
        	com.sudaotech.core.web.resteasy.ValidationExceptionHandler,
        	com.sudaotech.core.web.resteasy.IllegalOperationExceptionHandler,
        	com.sudaotech.core.web.resteasy.IllegalArgumentExceptionHandler,
        	com.sudaotech.core.web.resteasy.RestEasyExceptionHandler,
        	com.sudaotech.core.web.resteasy.UnauthorizeExceptionHandler,
        	com.sudaotech.core.web.resteasy.ReaderExceptionHandler,
        	com.sudaotech.core.web.resteasy.NotFoundExceptionHandler,
        	com.sudaotech.core.web.resteasy.PermissionExceptionHandler,
        	com.sudaotech.core.web.resteasy.TransitionExceptionHandler,
        	com.sudaotech.core.web.resteasy.RestEasyContainerFilter
       	</param-value>
  </context-param>
  <listener>
    <listener-class>
            com.sudaotech.core.web.resteasy.BootstrapServletContextListener
        </listener-class>
  </listener>
  <filter>
    <filter-name>ExceptionLoggingFilter</filter-name>
    <filter-class>com.sudaotech.core.web.filter.ExceptionLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ExceptionLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthTokenFilter</filter-name>
    <filter-class>com.sudaotech.core.web.filter.AuthTokenFilter</filter-class>
    <init-param>
      <param-name>auth.excludes</param-name>
      <param-value>
                /file,
                /image,
                /phoneCode,
                /app/,
                /app/update,
                /app/share,
                /app/password,
                /admin/password/phoneCode,
                /phoneCode/single,
                /platform/admin/login,
                /platform/admin/logout,
                /park/admin/login,
                /park/admin/logout,
                /park/app/login,
                /park/app/logout,
                /enterprise/admin/login,
                /enterprise/admin/logout,
                /enterprise/app/login,
                /enterprise/app/logout,
                /admin/main/enterpriseInfo/register,
                /pay/payNotify,
                /pay/weixinPayNotify,
                /pay/aliPayNotify,
                /detail/community,
                /detail/announcement,
                /detail/serviceProject,
                /admin/profile/,
                /admin/main/enterpriseInfo/availability/,
                /admin/enterprise/applyOrder/detail/,
                /admin/park/task/excel,
                /admin/park/billInfo/excel,
                /captcha/captcha,
                /admin/park/SystemConfig/parkid/,
                /admin/park/billInfo/detail/,
                /park/admin/phoneCode/single,
                /park/admin/phoneCode/check,
                /park/admin/phoneCode/login,
                /enterprise/admin/phoneCode/login
               <!--  /app/guessSound, -->
	        </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthTokenFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>
            com.sudaotech.core.web.resteasy.RestEasyServletDispatcher
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>